<div data-controller="posts">
  <%= form_with(model: post, id: "post-form", class: "form", data: { posts_target: 'form', action: 'submit->posts#submit' }) do |form| %>
    <% if post.errors.any? %>
      <div style="color: red">
        <h2><%= pluralize(post.errors.count, "error") %> prohibited this post from being saved:</h2>
        <ul>
          <% post.errors.each do |error| %>
            <li><%= error.full_message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <label class="form-group">
      <%= form.text_field :title, class: "form-control", placeholder: "Enter text..." %>
      <span class="form-label">Title</span>
    </label>

    <h2>Items</h2>
    <div data-controller="nested-form">
      <%= form.fields_for :items do |item_form| %>
        <div class="nested-fields" data-new-record=<%= item_form.object.new_record? ? 'true' : 'false' %>>
          <%= item_form.label :description %>
          <%= item_form.text_field :description %>
          <%= link_to 'Remove', '#', data: { action: 'click->nested-form#remove_association' } %>
        </div>
      <% end %>
      <template data-nested-form-target="template">
        <div class="nested-fields" data-new-record="true">
          <%= form.fields_for :items, Item.new, child_index: "NEW_RECORD" do |builder| %>
            <%= builder.label :description %>
            <%= builder.text_field :description %>
            <%= builder.hidden_field :_destroy %>
            <%= link_to 'Remove', '#', data: { action: 'click->nested-form#remove_association' } %>
          <% end %>
        </div>
      </template>
      <%= link_to 'Add Item', '#', class: "add-item", data: { action: 'click->nested-form#add_association', nested_form_target: 'link' } %>
    </div>

    <div>
      <%= form.submit %>
    </div>
  <% end %>
</div>
