<!DOCTYPE html>
<html>
  <head>
    <title>Offline Demo</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="manifest" crossorigin="use-credentials" href="/manifest.json" />
    <meta name="theme-color" content="#000000">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <link rel="preload" href="https://unpkg.com/dexie/dist/dexie.js" as="script">
    <link rel="preload" href="https://maxbeier.github.io/tawian-frontend/tawian-frontend.css" as="style">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Cousine:400,400i,700,700i">
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body class="container">
    <%= render "shared/navbar" %>
    <%= yield %>
  </body>
</html>
